<form name="update" action='/profile/{{username._id}}'>
<div class="container">
<article class="message is-success">
  <div class="message-header">
    <p>Profile</p>
  </div>
  
  <div class="message-body">
    <input id="username" > Логин :  {{user.username}}
  </div>
  <div class="message-body">
   <input id="email">Почта  :  {{user.email}}
  </div>
  <div class="message-body">
   <input>Статус  : {{user.role}}
  </div>
  <div class="message-body">
   <input>Комментарии  :
  </div>
  </div>
</article>
<button type="submit" >redact</button>
</div>

</form>
