<div class="is-large container">
    <form class="registration-form field is-fullwidth" action="/comments/add" method="post">
      <div class="title" id="message">Оставить комментарий</div>
      <div class="field">
        <div class="control">
          <textarea class="textarea has-fixed-size" required placeholder="Текст комментария" name="username" type="text"></textarea>
        </div>
      </div>
      <div class="control is-fullwidth">
        <button class="button is-fullwidth is-link">
          <span class="icon">
            <i class="fa fa-comment"></i>
          </span>
          <span>Отправить</span>
        </button>
      </div>
  </form>
</div>