<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <script defer src= "/js/map.js"></script>
  <script defer src="/js/application.js"></script>
  <script defer src="/js/layout.js"></script>
  <script defer src="/js/settings.js"></script>
  <script defer src="/js/fetchs.js" ></script>
  <title>Chai</title>
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item logo" href="/">
          TeaStory<i class="fa fa-leaf" aria-hidden="true"></i> 
        </a>
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          {{> controllink}}
        </div>
        <div class="navbar-end">
            <div class="navbar-item" href="/">
              <div class="buttons">
                {{> auth}}
              </div>
            </div>
        </div>
      </div>
    </nav>
  </header>
  {{{body}}}
  <footer class="footer">
    <div class="content has-text-centered">
    <p>
      Лучшие чаи со всего мира
    </p>
  </div>
  </footer>
</body>
</html>
