<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="/js/application.js"></script>
  <title>Chai</title>
</head>
<body>
  <header>
    <nav class="navbar-container">
      <div class="navbar-start">
          <a class="navbar-item" href="/">123</a>
      </div>
      <div class="navbar-menu">
          <a class="navbar-item" href="/">123</a>
          <a class="navbar-item" href="/">123</a>
          <a class="navbar-item" href="/">123</a>
          <a class="navbar-item" href="/">123</a>
          <a class="navbar-item" href="/">123</a>
      </div>
       <div class="max-w-700 center wrap-float">
      <nav class="clearfix mar-b-1">
        <ul style="display: flex; flex-direction: row; gap: 20px"class="row no-bullets no-margin no-padding right">
          {{> user }}
          <li class="pipe-separate t-light-green left"><a href="/">home</a></li>
        </ul>
      </nav>

      <div class="logo-container">
    </nav>
  </header>
  {{{body}}}
</body>
</html>
