<div style="background-color: black; border-radius: 5px;"id="message"></div>
<form class="registration-form" action="/register" method="post">
  <input required placeholder="Логин" name="username" type="text">
  <input required placeholder="user@example.com" name="email" type="email">
  <input required placeholder="Пароль" name="password"  minlength="5" type="password">
  <button>Зарегистрироваться</button>
</form>
