<div class="columns">
<article class="column box m-5 p-5 is-two-thirds article">
  <div class="content">
  <h1 class="title mobile-section-title ">История чая</h1>
											
 Нет ничего удивительного в том, что у такого популярного напитка, как чай, богатейшая история, уходящая корнями в древние времена. Действительно, сегодня чай занимает второе место в мире после воды, и трудно отыскать такой уголок на планете Земля, где не любили бы этот напиток. Да, в разных регионах люди могут предпочитать разные сорта, использовать всевозможные, в корне отличные друг от друга, рецепты заваривания напитка, но так или иначе чай пьют везде. Сегодня чай в России можно найти в широком ассортименте, в специализированных магазинах, таких, как магазин нашей компании «Млесна», можно увидеть десятки и сотни разновидностей чая. 
<br>
 
 <img src="https://static.wixstatic.com/media/44d9b7_92281d7b51d44c6482206cd8123d25ed.jpg" alt="История чая">

<br>
 
<h2> Легенды и мифы</h2>
 О том, как именно люди нашли чай, в разных странах мира сложены легенды. Особенно много историй сложено об этом растении в Китае, Японии и Индии. 
<br>
 

<br>
 Согласно одной из них, индийской, чайный куст нашёл во время своего путешествия по Китаю Бадхидхарма. 
<br>
 
<br>
 Японцы утверждают, что чайный куст вырос из век принца Дарумы, которые он обрезал и бросил на землю, чтобы не уснуть во время медитации. Кстати, именно по этой причине чай обладает тонизирующими свойствами, помогает бороться с усталостью и сонливостью. Согласно той же легенде, эти свойства напитка открыли ученики принца Дарумы, заварив листья выросшего необыкновенного куста. 
<br>
 
<br>
 Китайцы объясняют появление чая по-разному. Так, одна легенда гласит, что чайный куст был создан во времена творения Неба и Земли, связывают его с именем Государя Солнца Янь-ди. 
<br>
 
<br>
 Другая легенда рассказывает об императоре Южного Китая ЧенНунг е (III тысячелетие до н.э.), который нашёл чай совершенно случайно – листья растения попали в его чашку с кипятком и от напиток, который получился в результате, настолько впечатлил императора, что культуру стали возделывать по всей стране, о чём император лично издал указ. 
<br>

<img src="https://www.tea-terra.ru/wp-content/uploads/2013/06/2013_06_24_01_001.jpg" alt="Чай">

<br>

 
<h2> Что говорит история?</h2>
 Исторические памятники подтверждают, что в Китае чай был известен ещё в 220-280 годы нашей эры (времена троецарствия), начало его возделывания как культуры датируется приблизительно 350 годом нашей эры. Таким образом, история чая на самом деле насчитывает тысячелетия, но долгое время культура распития этого напитка была доступна только Востоку. 
<br>
 
<br>
 Китайские философы древности утверждали, что китайский чай идеальный напиток, ведь он бодрит и веселит как вино, но при этом не вызывает опьянения, и не переносит инфекции, так, как это делает вода. 
<br>
 
<br>
 Изначально чай был доступен только вельможам, его заваривали и пили в качестве целебного напитка (для укрепления сил, улучшения зрения), а также использовали в составе лекарственных средств (например, мази от ревматизма). 
<br>
 
<br>
 Использовать китайский чай как напиток начали на его родине, причём произошло это только в 5 веке н.э., напиток высоко ценился, его дарили императоры своим подданным в знак благодарности и поощрения. 
<br>
 
<br>
 Вплоть до 6 века н.э. чай был напитком знати, но постепенно он становился доступен и другим, более простым, сословиям, и уже к 10 веку н.э. стал поистине общенациональным напитком Китая, а, значит, и предметом торговли. 
<br>
 
<img src="https://sportivnoepitanie.ru/img/bibm/istoriya-chaya.jpg" alt="История чая">

<br>
 
<h2>Родина чая, появление названия напитка, классификация</h2>
 Родиной чая по праву считается Юго-Западный Китай и примыкающие к нему территориально регионы – Бирма, Северный Вьетнам. Здесь произрастали и произрастают дикие сорта чайного куста. Кстати, долгое время считалось, что чай может произрастать исключительно в форме кустов, и только спустя века были открыты чайные деревья. 
<br>
 
<br>
 Классификацию чая ввёл небезызвестный Карл Линней, именно ему в 1763 году один шведский мореплаватель привёз живой чайный куст. Линней, считая, что это растение уникально. Присвоил ему название «theasineusis» – "чай китайский", но после открытия в 19 веке в Ассаме, Бирме и Лаосе чайных деревьев, ботаники признали и другой вид, присвоив ему название «theaassamica» – "чай ассамский". 
<br>
 
<br>
 Само название напитка «чай» в России и других русскоговорящих странах произошло от северокитайского «cha», и пришло оно к нам через группу тюркских языков, а вот в Европе «tea» появилось от южно китайского слова «te», именно этим объясняется разница в произношении названия напитка. 
<br>
 
<img src="https://www.tea-terra.ru/wp-content/uploads/2015/11/2015_11_08_01_001.jpg" alt="Тру">

<br>
 
<h2> Появление чая в Европе</h2>
 В XVI – XVIII веках в Европу чай ввезли португальцы и голландцы, традиция послеобеденного чаепития укоренилась в Нидерландах, после чего пересекла Атлантику и распространилась вплоть до Нью-Амстердама. 
<br>
 
<br>
 В Англии чай появился в 1664 году, когда купцы английской Вест-индской компании привезли в дар королю два фунта чая. Король, испробовав доселе невиданный напиток, остался под глубоким впечатлением и пожелал получать китайский чай ещё и ещё. Так начался ввоз чая в Европу. 
<br>
 
<br>
 Изначально напиток был доступен только знатным сословиям, широкое распространение он получил только в конце 18 века, после падения налога на чай, тогда он стал доступен народным массам, но при этом употреблялся исключительно в кафе. Первая из кофеен, где стали подавать чай, принадлежала ткачу по имени Томас Твиннинг, и здесь при недостатке разменной монеты можно получить специальные чайные купоны на сдачу, на которые потом без проблем приобретались любые товары – такие купоны ходили наряду с деньгами. 
<br>
 
<br>
 Изучением и культивацией чая впервые занялся Калькуттский ботанический сад, куда были доставлены первые семена растения лордом Макартни. 
<br>
 
<br>
 Активным разведением чая в этот же период занимается Индия, являющаяся британской колонией. Становится актуальным вопрос темпов перевозки чая, ведь к 1860 году его продано уже более 2 000 тонн! Чай перевозили морем на так называемых чайных клиперах, между которыми часто устраивались гонки с обязательным призом в конце соревнований. Известен случай, когда на таких чайных гонках три клипера (Ариель, Серика, Тайпинг), прошли одновременно более 25 тысяч километров и борт о борт вошли в гавань. 
<br>
 
<br>
 С течением времени разведение чая распространяется по планете, так, с первой половины XIX века чай разводят на Яве, во Вьетнаме, на Суматре, позже, во второй половине этого же столетия разведение распространяется на Африку и Южную Америку, ещё через полвека – в Южной Швейцарии и Северной Италии. Разведение культуры охватывает всё больше и больше местностей, появляется цейлонский чай и другие сорта, на сегодняшний день даже Австралия занимается выращиванием чая. 
<br>
 
<br>

<img src="https://daochai.ru/images/companies/1/pages/blogs/154-english/Drawing-of-a-London-BM-29025600.jpg?1602542319374" alt="Иропа">
 
<h2> Появление и история чая в России</h2>

<img src="https://teaway.ru/upload/iblock/832/8329477e6b87941c566bd0b795a47339.png" alt="Рашка">

 Вот уже почти три столетия, как появился чай в России. Это не так уж и много, но кажется, что именно чай всегда был исконно русским напитком. Вместе с тем, появился он на территории государства только в 16 веке (до этого пили квасы, взвары, мёды, травяные настои и отвары, сбитни), причём первыми удалось попробовать волшебный напиток сибиряки (произошло это даже раньше, чем чай был ввезён в Европу) – чай попадал в Сибирь из расположенной рядом Монголии, где уже множество лет он был известен и почитаем. 
<br>
 
<br>
 Первый русскоязычные описания чая относятся к 1567 году, и сделаны они казачьими атаманами Петровым и Ялышевым, путешествовавшим в Китай. Вообще приобщение к культуре чаепития в России происходило нестандартно, так как, в отличие от всей предыдущей истории напитка, в данном случае царь попробовал чай позже обыкновенных людей. Произошло это событие в 1638 году, когда после обмена дарами с монгольским ханом в царские палаты было доставлено несколько непонятных свёртков с сухими листьями. Согласно легенде, впервые попробовав чай, царь отёр рот рукавом и сказал только одно слово: «Ещё!» 
<br>
 
<br>
 В следующий раз чай в Россию, в царские палаты, попал уже в 1665 году – на этот раз он был привезён Иваном Перфильевым, русским послом, из Китая. Прежде чем дать отведать неизвестный настой царю, его попробовал придворный лекарь. Через какое-то время при помощи этого настоя был исцелён сам царь, который в тот момент «занемог животом». Лечебные свойства напитка произвели на правителя неизгладимое впечатление, и с этого момент начался ввоз чая в Россию, после 1689 года этим занималось уже почти всё купечество. 
<br>
 
<br>
 Со временем развиваются торговые отношения России с Англией, и в числе прочих товаров чай начинает завозиться через порты Балтики. Несмотря на это, долгое время чай остаётся не просто «городским напитком», а именно Московским – так, например, в Москве появляется около 100 специализированных торговых точек, продающих чай, тогда как в Санкт-Петербурге – всего одна. 
<br>
 
<br>
 Теперь тот путь, которым следует чай в России, во многом схож на историю напитка и в других странах – чай доступен только знати, считается целебным напитком, способным помочь от определённых болезней, а также не дать уснуть во время долгих церковных служб и в Думе. 
<br>
 
<br>
 Становление чая как общенационального напитка в России происходит на стыке 19-20-го веков, постепенно он дешевеет, становится доступен всем слоям общества, появляются чайные палатки, затем чай вводится в довольствие армии, и даже существует специальная форма оплаты- работодатели указывают в договорах: «деньги, харчи, чай». 
<br>
 
<br>
 Вырабатывается также и чайный этикет – становится популярным звать в гости «на чай», при этом к напитку непременно подаётся ещё что-то – конфеты, пряники, прочая выпечка, в дворянских семьях ассортимент был ещё шире, так, например, популярно было предлагать к чаю и спиртные напитки, особенно ром. 
<br>
 
<br>
 
<h2> Самовар</h2>

<img src="https://www.tula-samovar.com/istoriya-samovarov/samovar%20istoriya%20poyavleniya%20i%20razvitiya.jpg" alt="Варосам">

 Непременным атрибутом русского чаепития был самовар, впрочем, он использовался и для других целей – в нём готовили пищу и сбитни. Невозможно представить себе быт русского человека тех времён без самовара – этот предмет обихода был в каждом доме. 
<br>
 
<br>
 Появление самоваров датируется 1740 годом, и появились они на Урале, а уже в 1778 году была открыта первая, ставшая впоследствии одной из самых знаменитый, мастерская в Туле (отсюда берёт истоки выражение «тульский самовар»). Был момент, когда Тула потеряла лидирующие позиции в выпуске самоваров, это продолжалось до войны 1812 года, тогда больше всего самоваров выпускалось в Московской губернии на заводе Петра Силина, но уже к 20-м годам положение дел вернулось и за Тулой прочно закрепилось звание «самоварной столицы». 
<br>
 
<br>
 Кстати, название «самовар» использовалось не повсеместно, так, например, по-курски этот предмет называли «самокипец», по-ярославски – «самогар», по-вятски – «самогрей». Конфигураций этого предмета было вообще неисчислимое количество, они отличались и формой, и объёмами (от нескольких вёдер до нескольких стаканов), и материалом изготовления. Если изначально самовары выпускались преимущественно медные, то со временем в обиход вошли сплав из меди и свинца (такие самовары приобретали преимущественно простые люди). Более зажиточные семьи приобретали себе серебряные или никелированные самовары, но то, что объединяло в эти времена всех – это обязательное наличие самовара в доме. Действительно, чаепитие без этого предмета трудно себе представить, ведь именно самовар позволял не топить печь, он оставался горячим долгое время, в чайнике наверху великолепно распаривался чай, и заваривать напиток можно было водой оптимальной температуры. 
<br>
 
<br>
 Здесь следует отметить, что для заваривания чая подходит только вторая стадия кипения воды (первая – это образование пузырьков, во время второй их количество возрастает, вода белеет, эта стадия называется «белый ключ», затем следует непосредственно кипение, бурление воды). Особенность конструкции самовара, обеспечивающая резонанс, позволяет в буквальном смысле слова услышать каждую из стадий кипения – когда вода начинает закипать самовар «поёт», на второй – шумит, а на третьей уже бурлит. Таким образом, по звуку можно безошибочно определить, когда пора заваривать чай. Таким образом, соблюдались оптимальные условия для приготовления напитка, чай из самовара всегда получался очень вкусным. 
<br>
 
<br>
 Кроме того, конструкция самовара действует и как смягчитель воды – нерастворимые карбонаты оседают на стенках сосуда и трубы, образуя накипь, за счёт чего снижается жёсткость воды, и улучшаются её вкусовые качества. 
<br>
 
<br>
 Непременным атрибутом, сопутствующим самовару, был поднос – подносы могли быть разной формы, изготовлялись из разных материалов, но их наличие было обязательным. 
<br>
 
<br>
 
<h2> Появление чайных</h2>

<img src="https://vsdn.ru/images/data/mus/images/6097/d82c8d1619ad8176d665453cfb2e55f0autor_id.jpg" alt="Чайные">

 Особой вехой в истории чая в России стало появление чайных при Александре II. Такие заведения характерны только для России. Изначально появились они в Тверской губернии, но очень быстро распространились по всей стране. Особенностей у таких заведений было немало: здесь было запрещено спиртное, чай подавался в двух чайниках – в одном была заварка, во втором кипяток, и наполнять последний можно было бесплатно сколько угодно, в чайные пришла из Сибири традиция пить чай вприкуску или как тогда называли «с угрызением», здесь была разрешена музыка, в чайных часто играли в бильярд, здесь были и подшивки газет. Закуску можно было заказать за отдельную плату. 
<br>
 
<br>
 Владельцы чайных получали налоговые льготы, арендная плата была максимально низкой. Изначально чайные появлялись возле крупных промышленных предприятий на окраинах городов, затем их стали открывать и вблизи рынков и стоянок извозчиков. 
<br>
 
<br>
 В чайных принято было встречаться, общаться, здесь можно было встретить стряпчих, готовых за минимальную плату составить прошение или какой-то другой нужный документ. 
<br>
 
<br>
 Именно из чайных берёт свои истоки выражение «дать на чай», «чаевые» - то есть небольшое вознаграждение за оказанную услугу. 
<br>
 
<br>
 
<h2> Торговля и разведение чая в России</h2>

<img src="https://lh3.googleusercontent.com/proxy/XYqjCn2iZsKs5Qlb-gHh1gMUWWFkdcLBFxjrCGGyeEX5AYRYRyNWaU8mMpWE3-rIBDV3F_OdpyGFwleX7bSx_Vs1utTpZw-ORxspKFKWjT1rXIHeIUk-7Yvung" alt="Чай Мск">

 Популярность чая в России обретает лидирующие позиции в сравнении с любыми другими напитками, уже к началу ХХ столетия обороты фирм, продающих чай в России, насчитывают миллионы рублей. 
<br>
 
<br>
 Появляются чайные сообщества, самые известные из которых "Высоцкий и К", "С.Перлов", "Петр Боткин", "Караван", "Братья К. и С.Поповы", "Василий Петров", "Медведев", "Климушкин". Импортировался как китайский чай, так и индийский, цейлонский чай, появились крупные торговцы (например, династия Губкиных, оборудовавшая развесочные на территории всей страны). 
<br>
 
<br>
 После революции 1917 года закупкой и продажей чая занималась специальная организация «Центрочай» - рабочим он выдавался бесплатно, для буржуазии напиток стоил дорого. 
<br>
 
<br>
 «Центрочай» изначально закупал качественный продукт, но потом, подсчитав, что такие закупки обходятся слишком дорого, стал приобретать сорта более низкого качества, которое, к тому же, постоянно ухудшалось. Так вместо качественного продукта на прилавках страны появился фальсификат. 
<br>
 
<br>
 Разведением чая в России начали заниматься ещё в середине XIX века, именно тогда в Ботанический сад Крыма был завезён первый чайный куст (1817 год). Вместе с тем, чаеводство появилось позже – его началом можно считать 1833 год, когда усилиями энтузиастов Кавказа были выращены первые чайные кусты (они были выращены в поместье грузинского князя Михи Эристави), и первые образцы чая были привезены на выставку в Санкт-Петербург. 
<br>
 
<br>
 В конце XIX столетия была построена первая чайная фабрика (владелец К. Попов), была разведена чайная плантация, продукция получила медаль на Всемирной выставке в Париже. 
<br>
 
<br>
 К 1917 году площадь чайных плантаций в России достигает почти 900 гектаров, сбор чайного листа – около 500 тонн. 
<br>
 
<br>
 В 20-х годах в СССР была принята к разработке Государственная программа развития чайного дела, изначально разведением чая занимались преимущественно Грузия (где уже существовали чайные плантации) и Азербайджан (кстати, Северный Кавказ стал самым северным районом чаеразведения в мире). Отечественный чай стал постепенно появляться на прилавках торговых точек. 
<br>
 
<br>
 В 1936 году в Краснодарском крае начинается первый этап чаеразведения - высажены первые кусты(урожай был собран впервые в Дагомысском районе в 1946 году), в 1947 году начато чаеразведение в Ставропольском крае. Постепенно производство чая принимает промышленные масштабы, в стране появляется отечественный качественный продукт - собственный чай. 
<br>
  </div>
</article>
  <div class="column"></div>


</div>
