@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
body{
  background-color: rgb(238,238,238);
}
nav{
  padding: 0.5em 1em;
}
.container{
  max-width: 900px;
}
.container.tea-list{
  display: grid;
	grid-gap: 0.5em;
  align-content: stretch;
  justify-content: stretch; 
  place-items: stretch;
  justify-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}
.background-soft{
  width: 100%;
  height: 1000px;
  background: url(/images/back.jpeg);
  background-size: auto;
  background-size: cover;
}
.main-story{
  position: relative;
  padding-top: 50px;
  background: linear-gradient(180deg, rgba(11,8,46,0) 0%,rgba(11,8,46,.5) 2%, rgba(238,238,238,1) 11%, rgba(238,238,238,1) 100%, rgba(0,212,255,1) 100%);
  top:-900px;
}
.container.tea-list .card{
  transition: all ease 50ms;
  background-color: rgb(238,241,238);
}
.container.tea-list .card:hover {
  /* background-color: rgb(238,255,238); */
  background: #A1FFCE;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* color: white; */
  background: #DAD299;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #cefed9, #fef5b3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ceffd8, #fff7b7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container.tea-list .card .image{
  opacity: .85;
  
}

.tea{
  justify-content: space-between !important;
}
.tea span{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.tea .buttons{
  flex-wrap: nowrap !important;
}
.container.tea-list .card:hover .image{
  /* color: white */
  opacity: .65;
}
.logo{
  font-size: 1.5em;
  transition: all ease 50ms;
  color: rgb(113, 182, 108);
}
.logo:hover{
  font-weight: bold;
  color: rgb(48, 149, 30) !important;
}
.image img{
  object-fit: cover;
}

form.box{
  position: relative;
}

#edit-profile-form{
  position: absolute;
  right: 10px;
  top: 10px;
}
